.order-cards{
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title-order{
    width: 30vw;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.order-content{
    width: 98%;
    height: 88%;
    padding: 10px 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    overflow: auto;
    scrollbar-width: none;
}
.order-card{
    width: 18%;
    height: 49%;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-a{
    background-color: white;
    padding: 5px;
    height: 70px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.order-number{
    display: flex;
    gap: 10px;
    font-size: 13px;
}
.abs-div{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 80px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-b{
    background-color: white;
    padding: 5px;
    height: 110px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 10px;

}
.item-name-1{
    display: flex;
    gap: 5px;
}
.item-name-o{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin:5px 0 0 40px;
}
.item-name-2{
    display: flex;
    gap: 10px;
}
.card-status{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: aqua;
    margin: 0 auto;
    font-size: 10px;
}